:root {
  /* misc. */
  --renderTab-font-family: verdana, sans-serif;
  --renderTab-background-color: gainsboro;
  --renderTab-text-color: revert;
  --renderTab-error-background-color: #FF8888 !important;
  --renderTab-tableHead-background-color: #e8e8e8;
  --renderTab-link-color: revert;
  --renderTab-link-font-weight: bold;
  --renderTab-link-decoration: underline dotted;
  --renderTab-link-visited-color: revert;
  --renderTab-link-hover-decoration: underline;
  /* channel */
  --renderTab-channel-background: #E4ECEC;
  --renderTab-channel-border-radius: 5px;
  --renderTab-channel-border: 1px solid #A7A6AA;
  --renderTab-channel-link-text-color: #D64203;
  --renderTab-channel-link-font-size: revert;
  --renderTab-channel-link-font-weight: bold;
  --renderTab-channel-link-decoration: none;
  --renderTab-channel-link-visited-color: var(--renderTab-channel-link-text-color);
  --renderTab-channel-link-visited-font-weight: var(--renderTab-channel-link-font-weight);
  --renderTab-channel-link-hover-decoration: var(--renderTab-channel-link-decoration);
  --renderTab-channel-description-text-color: #405A5A;
  --renderTab-channel-description-font-size: 90%;
  --renderTab-channel-description-font-weight: bold;
  /* items */
  --renderTab-items-background: ghostwhite;
  --renderTab-items-border: 1px solid #97969A;
  --renderTab-items-border-radius: 10px;
  --renderTab-items-text-color: #222;
  --renderTab-items-font-size: 18px;
  --renderTab-items-number-text-color: var(--renderTab-text-color);
  --renderTab-items-number-font-size: revert;
  --renderTab-items-number-font-weight: normal;
  --renderTab-items-title-background-color: revert;
  --renderTab-items-title-border-bottom: 1px solid #ddd;
  --renderTab-items-title-font-family: arial, verdana, sans-serif;
  --renderTab-items-title-font-size: 18px;
  --renderTab-items-title-font-weight: normal;
  --renderTab-items-title-link-color: revert;
  --renderTab-items-title-link-decoration: revert;
  --renderTab-items-title-link-font-weight: revert;
  --renderTab-items-title-link-visited-color: revert;
  --renderTab-items-title-link-visited-decoration: revert;
  --renderTab-items-title-link-visited-font-weight: revert;
  --renderTab-items-title-link-hover-color: revert;
  --renderTab-items-title-link-hover-decoration: revert;
  --renderTab-items-title-link-hover-font-weight: revert;  
  --renderTab-items-description-font-size: 12px;
  --renderTab-items-info-font-size: x-small;
  --renderTab-items-info-color: #242482;
  --renderTab-items-category-color: revert;  
  --renderTab-items-pubDate-background: #FAF4C8;
	--renderTab-items-pubDate-border: 1px solid #A7A6AA;
	--renderTab-items-pubDate-text-color: #777;
	--renderTab-items-pubDate-font-size: 10px;
	--renderTab-items-pubDate-font-weight: bold;
	--renderTab-items-pubDate-text-align: center;
}
