:root {
  --renderTab-font-family: verdana, sans-serif;
  --renderTab-background-color: var(--main-background-color);
  --renderTab-text-color: var(--main-text-color);
  --renderTab-border-color: var(--main-border-color);
  --renderTab-channel-background-color: #434345;
  --renderTab-channel-text-color: #ececec;
  --renderTab-channel-visited-color: #bcbcbc;
  --renderTab-itemsTitle-background-color: var(--renderTab-channel-background-color);
  --renderTab-itemsTitle-text-color: #ececec;
  --renderTab-itemsTitle-visited-color: #bcbcbc;  
  --renderTab-itemsInfo-text-color: white;
  --renderTab-itemsCategories-text-color: gray;
  --renderTab-error-background-color: #FF8888 !important;
}