/* misc. */

html {
	margin: 0;
	font-family: var(--renderTab-font-family);
	background: var(--renderTab-background-color);
	color: var(--renderTab-text-color);
}

body {
	width: 100%;
	margin: 0;
}

.error {
	background-color: var(--renderTab-error-background-color);
}

a:link {
	color: revert;
	font-weight: revert;
	text-decoration: revert;
}

a:visited {
	color: revert;
}

a:hover {
	text-decoration: revert;
}

img, video {
	height: auto;
	max-width: 100%;
}

/* channel */

.channelHead {
	margin: 10px 2% 10px 2%;
	padding: 7px;
	background-color: var(--renderTab-channel-background-color);
	border-radius: revert;
	border: 1px solid var(--renderTab-border-color);
}

h1.channelTitle {
	margin: 0;
	padding: 0;
	line-height: 1em;
}

a.channelLink {
	color: var(--renderTab-channel-text-color);
	font-size: large;
	font-weight: bold;
	text-decoration: none;
}

a.channelLink:visited {	
	color: var(--renderTab-channel-visited-color);
	font-weight: revert;
}

a.channelLink:hover {
	text-decoration: underline;
}

.channelDescription {
	width: revert;
	margin: 0;
	padding: 10px;
	color: revert;
	font-size: small;
	font-weight: revert;
}

/* item */

div.item {
	display: block;
	position: relative;
	float: left;
	width: 47%;
	min-width: 29em;
	margin: 0 0 10px 2%;
	padding: 0;
	overflow: hidden;
	background: revert;
	border: 1px solid var(--renderTab-border-color);
	border-radius: revert;
	color: revert;
	font-size: revert;
}

.itemNumber {
	padding-right: 5px;
	color: revert;
	font-size: revert;
	font-weight: normal;
}

.itemTitle {
	display: revert;
	min-height: revert;
	line-height: 1.2em;
	margin: 0px;
	padding: 6px;	
	background-color: var(--renderTab-itemsTitle-background-color);
	border-bottom: revert;
	font-family: revert;
	font-size: small;
	font-weight: normal;
}

.itemTitle a:link {
	color: var(--renderTab-itemsTitle-text-color);
	text-decoration: revert;
	font-weight: revert;
}

.itemTitle a:visited {
	color: revert;
	text-decoration: var(--renderTab-itemsTitle-visited-color);
	font-weight: revert;
}

.itemTitle a:hover {
	color: revert;
	text-decoration: underline;
	font-weight: revert;
}

.itemDescription {
	margin: revert;
	padding: 9px;
	min-height: 6em;
	/*font-size: small;*/
}

.itemInfo {
	margin: 10px;
	font-size: x-small;
	color: var(--renderTab-itemsInfo-text-color);
}

.itemCat {
	display: revert;
	color: var(--renderTab-itemsCategories-text-color);
}

.itemAuthor {
	display: revert;
}

.itemPubDate {
	float: revert;
	line-height: revert;
	padding: revert;
	position: revert;
	right: revert;	
	top: revert;
	width: revert;
	background: revert;
	border: revert;
	color: revert;
	font-size: 10px;
	font-weight: revert;
	text-align: revert;
}

.itemAudioPlayer audio {
	width: 75%;
}
