:root {
  --main-background-color: #323234;
  --main-text-color: gainsboro;
  --main-splitterBar-color: #9D9D9D;
  --main-border-color: #9D9D9D;
  --main-selection-color: #448bd6;
  --main-dialog-background-color: #222224;
}