/* misc. */

html {
	margin: 0;
	font-family: var(--renderTab-font-family);
	background: var(--renderTab-background-color);
	color: var(--renderTab-text-color);
}

body {
	width: 95%;
	margin: 30px auto;
}

.error {
	background-color: var(--renderTab-error-background-color);
}

a:link {
	color: var(--renderTab-link-color);
	font-weight: var(--renderTab-link-font-weight);
	text-decoration: var(--renderTab-link-decoration);
}

a:visited {
	color: var(--renderTab-link-visited-color);
}

a:hover {
	text-decoration: var(--renderTab-link-hover-decoration);
}

img, video {
	height: auto;
	max-width: 100%;
}

/* channel */

.channelHead {
	margin: 0 0 32px 0;
	padding: 10px;
	background: var(--renderTab-channel-background);
	border-radius: var(--renderTab-channel-border-radius);
	border: 1px solid var(--renderTab-channel-border);
}

h1.channelTitle {
	margin: 0;
	padding: revert;
	line-height: revert;
}

a.channelLink {
	color: var(--renderTab-channel-link-text-color);
	font-size: var(--renderTab-channel-link-font-size);
	font-weight: var(--renderTab-channel-link-font-weight);
	text-decoration: var(--renderTab-channel-link-decoration);
}

a.channelLink:visited {
	color: var(--renderTab-channel-link-visited-color);
	font-weight: var(--renderTab-channel-link-visited-font-weight);
}

a.channelLink:hover {
	text-decoration: var(--renderTab-channel-link-hover-decoration);
}

.channelDescription {
	width: auto;
	margin: 0;
	padding: 0 20px 0 80px;
	color: var(--renderTab-channel-description-text-color);
	font-size: var(--renderTab-channel-description-font-size);
	font-weight: var(--renderTab-channel-description-font-weight);
}

/* item */

div.item {
	display: revert;
	position: relative;
	float: revert;	
	width: revert;
	min-width: revert;
	margin: 0 0 15px 0;
	padding: 0 10px 15px 20px;
	overflow: revert;
	background: #323234;
	border: 1px solid var(--renderTab-items-border);
	border-radius: 10px;
	color: gainsboro;
	font-size: 12px;
}

.itemNumber {
	padding-right: 5px;
	color: gainsboro;
	font-size: revert;
	font-weight: normal;
}

.itemTitle {
	display: block;
	min-height: 1.3em;
	line-height: revert;
	margin: revert;
	padding: 0px 2.3em 0px 0px;	
	background-color: revert;
	border-bottom: 1px solid #606060;
	font-family: arial, verdana, sans-serif;
	font-size: 18px;
	font-weight: normal;
}

.itemTitle a:link {
	color: gainsboro;
	text-decoration: none;
	font-weight: normal;
}

.itemTitle a:visited {
	color: gainsboro;
	text-decoration: none;
	font-weight: normal;
}

.itemTitle a:hover {
	color: gainsboro;
	text-decoration: none;
	font-weight: normal;
}

.itemDescription {
	margin: 0px;
	padding: revert;
	min-height: revert;
	/*font-size: revert;*/
}

.itemInfo {
	margin: 10px;
	font-size: x-small;
	color: #242482;
}

.itemCat {
	display: none;
  color: revert;
}

.itemAuthor {
	display: none;
}

.itemPubDate {
	float: right;
	line-height: 1.1em;
	padding: 3px 5px 4px 5px;
	position: absolute;
	right: 1.5em;
	top: -1em;
	width: 15em;
	background: antiquewhite;
	border: 1px solid #A7A6AA;
	color: #777;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.itemAudioPlayer audio {
	width: 50%;
}
