html {
	margin: 0;
	font-family: verdana, sans-serif;
	background: black;
	color: revert;
}

body {
	width: 95%;
	margin: 30px auto;
}

a {
	color: revert;
	font-weight: revert;
	text-decoration: revert;
}

a:visited {
	color: #739Aa5;
}

a:hover {
	text-decoration: underline;
}

img, video {
	height: auto;
	max-width: 100%;
}

.channelHead {
	background: #222224 !important;
	border-radius: 5px;
	border: 1px solid #303030;
	padding: 10px;
	margin: 0 0 32px 0;
}

h1.channelTitle {
	color: revert;
	margin: 0;
	padding: revert;
	font-size: revert;
	line-height: revert;
}

a.channelLink {
	margin: 0;
	color: maroon;
	font-weight: bold;
	text-decoration: none;
}

a.channelLink:visited {
	color: revert;
	font-weight: revert;
}

a.channelLink:hover {
	text-decoration: revert;
}

.channelDescription {
	color: gray;
	font-size: 90%;
	padding: 0 20px 0 80px;
	width: auto;
	font-weight: bold;
	margin: 0;
}

div.item {
	display: revert;
	background: #323234;
	border: 1px solid #303030;
	border-radius: 10px;
	color: gainsboro;
	font-size: 12px;
	margin: 0 0 15px 0;
	padding: 0 10px 15px 20px;
	position: relative;
	width: revert;
	min-width: revert;
	float: revert;
	overflow: revert;
}

.error {
	background-color: #FF8888 !important;
}

.itemTitle {
	margin: revert;
	background-color: revert;
	border-bottom: 1px solid #606060;
	color: gainsboro;
	display: block;
	font-family: arial, verdana, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: revert;
	min-height: 1.3em;
	padding: 0px 2.3em 0px 0px;
}


.item a:link {
	color: dodgerblue;
	text-decoration-line: underline;
}

.item a:visited {
	color: dodgerblue;
	text-decoration-line: underline;
}

.item a:hover {
	color: dodgerblue;
	text-decoration: underline;
}

.item a:active {
	color: dodgerblue;
	text-decoration: underline;
}

.itemTitle a {
	color: revert;
	text-decoration: revert;
	font-weight: revert;
}

.itemTitle a:link {
	color: gainsboro;
	text-decoration: none;
	font-weight: normal;
}

.itemTitle a:visited {
	color: gainsboro;
	text-decoration: none;
	font-weight: normal;
}

.itemTitle a:hover {
	color: gainsboro;
	text-decoration: none;
	font-weight: normal;
}

.itemTitle a:visited {
	color: gainsboro;
	text-decoration: none;
	font-weight: normal;
}

.itemNumber {
	font-size: revert;
	color: gainsboro;
	padding-right: 5px;
	font-weight: normal;
}

.itemDescription {
	margin: 0px;
	min-height: revert;
	font-size: revert;
	margin: revert;
	padding: revert;
}

.itemInfo {
	margin: 10px;
	font-size: x-small;
	color: #242482;
}

.itemCat {
	display: none;
  color: revert;
}

.itemAuthor {
	display: none;
}

.itemPubDate {
	background: antiquewhite;
	border: 1px solid #A7A6AA;
	color: #777;
	float: right;
	font-size: 10px;
	font-weight: bold;
	line-height: 1.1em;
	padding: 3px 5px 4px 5px;
	position: absolute;
	right: 1.5em;
	text-align: center;
	top: -1em;
	width: 15em;
}

.itemAudioPlayer audio {
	width: 50%;
}
