html {
  font-family: sans-serif;
}

body{
  width: 700px;
  height: 200px;
  background-color: #E0E0EF;
  padding: 10px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  color: #4F4545;
  font-size: small;
}

#main {
  width: 100vw;
  height: 100vh;
}

#progressBarTotal {
  display: none;
  border-radius:16px;
  color:#000;
  background-color:#d1d1d1;
  width: 85%;
  padding-right: 32px;
}

#progressBar {
  display: none;
  border-radius:16px;
  padding:0.01em 16px;
  color:#fff;
  background-color:#2196F3;
}

#discoveredFeeds {
  padding: 10px;
  text-align: left;
}

#tableContainer {
  overflow: auto;
  width: 90%;
  height: 65%;
  border: 1px solid #ebebfa;
}

table {
  border-collapse: collapse;
  border: 2px solid #c8c8c8;
  letter-spacing: 1px;
  background-color: #ffffff;
  font-size: x-small;
  width: 100%;
}


th {
  border: 1px solid #bebebe;
  padding: 1px 2px;
  text-align: left;
  background-color: #f3f3f3;
  font-weight: normal;
}

td {
  border: 1px solid #bebebe;
  padding: 2px 20px;
  background-color: #ffffff00;
}

tbody {
  font-size: 90%;
}

.selectionRaw {
  background-color: #60698f;
}