html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid #c8c8c8;
  letter-spacing: 1px;
  font-size: 0.8rem;
  width: 100%;
}

caption {
  padding: 10px;
  text-align: left;
}

th {
  border: 1px solid #bebebe;
  padding: 1px 2px;
  text-align: left;
  background-color: #ffffff;
  font-weight: normal;
}

td {
  border: 1px solid #bebebe;
  padding: 2px 20px;
}


tbody {
  font-size: 90%;
}
