:root {
  --renderTabMain-font-family: verdana, sans-serif;
  --renderTabMain-background-color: var(--main-background-color);
  --renderTabMain-text-color: var(--main-text-color);
  --renderTabMain-border-color: var(--main-border-color);
  --renderTabMain-channelTitle-background-color: #434345;
  --renderTabMain-channelTitle-text-color: #ececec;
  --renderTabMain-channelTitle-visited-color: #bcbcbc;
  --renderTabMain-itemsTitle-background-color: var(--renderTabMain-channelTitle-background-color);
  --renderTabMain-itemsTitle-text-color: #ececec;
  --renderTabMain-itemsTitle-visited-color: #bcbcbc;  
  --renderTabMain-itemsInfo-text-color: white;
  --renderTabMain-itemsCategories-text-color: gray;
  --renderTabMain-error-background-color: #FF8888 !important;
}