/* Misc. */
body {
  font-size: 1.25rem;
  color: #333;
}

.checkboxText {
  margin-right: 10px;
}

input[type="number"] {
  margin-left: 10px;
  margin-right: 10px;
  width:55px;
}

#inputImportFile {
  display: none;
}

/* tabs */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    /*border: none;*/
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #ccc;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabContent {
    display: none;
    padding: 20px 10px 20px 10px;
    border: 1px solid #ccc;
    border-top: none;
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;
}

td {
  white-space: nowrap;
}

td:last-child {
  width: 100%;
}


/*td {
  border: 1px solid red;
}*/

/* Progress bar */
.progressBarTotal {
  display: none;
  border-radius:16px;
  color:#000;
  background-color:#d1d1d1;
}

.progressBarValue {
  display: none;
  border-radius:16px;
  padding:0.01em 16px;
  color:#fff;
  background-color:#2196F3;
}
