:root {
  --renderTab-font-family: verdana, sans-serif;
  --renderTab-background-color: #ffffff;
  --renderTab-text-color: #0f0f0f;
  --renderTab-border-color: #8daab8;
  --renderTab-channel-background-color: #D7E2E8;
  --renderTab-channel-text-color: #436A75;
  --renderTab-channel-visited-color: #739Aa5;
  --renderTab-itemsTitle-background-color: var(--renderTab-channel-background-color);
  --renderTab-itemsTitle-text-color: #436A75;
  --renderTab-itemsTitle-visited-color: #739Aa5; 
  --renderTab-itemsInfo-text-color: #242482;
  --renderTab-itemsCategories-text-color: #7D7D7D;
  --renderTab-error-background-color: #FF8888 !important;
}