body{
  width: 758px;
  height: 480px;
  background-color: #e8e8e7;
  padding: 10px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
	font-size: small;
}

.title{
  text-align: center;
  height: 15px;
}

#content {
  margin-top: -1px;
  padding-left: 25px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 320px;
}

#folderView{
  background-color: white;
  border: 1px solid #9d9d99;
  width: 100%;
  height: 320px;
}

/* table */
table {
  width: 99%;
  border-collapse: collapse;
}
td:first-child {
  white-space: nowrap;
}
td:last-child {
  width: 100%;
}

td {
  padding-right: 10px;
  /*border: 1px solid #ff0000;*/
}

tr>td {
  padding-bottom: 4px;
}
/* other */
.atTop {
  vertical-align: text-top;
}

.atRight {
  float:right;
}

.selected {
  color: #FFFFFF;
  background-color: #4a90d9;
}
.selected1 {
  color: #FFFFFF;
  background-color: #4a90d9;
}

.fieldText {
  width:99%;
  border: 1px solid #9d9d99;
}

/* folders */
input[type="checkbox"] {
  display: none;
}
input ~ ul {
  display: none;
}
input:checked ~ ul {
  display: block;
}
input ~ .folderOpen {
  display: none;
}
input:checked ~ .folderClose {
  display: none;
}
input:checked ~ .folderOpen {
  display: inline;
}
.folderOpen::before {
  content: url(/resources/themes/legacy/img/folder-open.png);
}
.folderClose::before {
  content: url(/resources/themes/legacy/img/folder-closed.png);
}
ul {
  margin-left: -20px;
}
li {
  display: block;
  margin-top: -1px;
  margin-bottom: -1px;
}

/* new folder dialog */
#newFolderDialog {
  position: absolute;
  left: 80px;
  top: 80px;
  background-color: #e8e8e7;
  border: 1px solid #9d9d99;
  box-shadow: 0px 1px 16px 0px rgba(26, 26, 26, 0.5);
  padding: 10px;
  z-index: 1;
}

.hide {
  display: none;
}

.show {
  display:block;
}

