body {
	margin: 0;
	color: #404040 ;
	font-family: verdana;
	background-color: #F2F2F2;
}
a {
	color: #4C6A72;
	font-weight: bold;
	text-decoration: none;
}

img, video {
	height: auto;
	max-width: 100%;
}

.channelHead {
	padding: 7px;
	margin: 10px 2% 10px 2%;
}

.channelTitle {
	color: #000000;
	margin: 0;
	padding: 0;
	font-size: large;
	line-height: 1em;
}

.channelLink a {
	color: #4C6A72;
	font-weight: bold;
	text-decoration: none;
}

.channelLink a:visited {
	color: #436A75;
	font-weight: bold;
}

.channelDescription {
	margin: 0;
	padding: 10px;
	font-size: small;
}

div.item {
	display: block;
	margin: 0 0 10px 2%;
	border: 1px solid #ABC1CC;
	padding: 0;
	width: 47%;
	min-width: 29em;
	float: left;
	overflow: hidden;
}

.itemTitle {
	margin: 0px;
	padding: 6px;
	/*background-color: #D7E2E8;*/
	font-size: small;
	line-height: 1.2em;
}

.itemTitle a {
	color: #404040;
}

.itemTitle a:visited {
	color: #707070;
}
.itemTitle a:hover {
	text-decoration: underline;
}


.itemNumber {
	font-size: xx-small;
	padding-right: 5px;
	font-weight: normal;
}

.itemDescription {
	min-height: 6em;
	font-size: small;
	margin: 0px;
	padding: 9px;
}

.itemInfo {
	margin: 10px;
	font-size: x-small;
	color: #242482;
}

.itemCat {
	color: #7D7D7D;
}

.itemAudioPlayer audio {
    width: 75%;
}
