html {
	margin: 0;
	font-family: verdana, sans-serif;
	background: #F2F2F2;
	color: #404040;
}

body {
	width: 100%;
	margin: 0;
}

a {
	color: #4C6A72;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: revert;
}

a:hover {
	text-decoration: underline;
}

img, video {
	height: auto;
	max-width: 100%;
}

.channelHead {
	background-color: revert;
	border-radius: revert;
	border: revert;
	padding: 7px;
	margin: 10px 2% 10px 2%;
}

h1.channelTitle {
	color: #000000;
	margin: 0;
	padding: 0;
	font-size: large;
	line-height: 1em;
}

a.channelLink {
	margin: revert;
	color: #4C6A72;
	font-weight: bold;
	text-decoration: none;	
}

a.channelLink:visited {
	color: #436A75;
	font-weight: bold;
}

a.channelLink:hover {
	text-decoration: revert;
}

.channelDescription {
	color: revert;
	font-size: small;
	padding: 10px;
	width: revert;
	font-weight: revert;
	margin: 0;
}

div.item {
	display: block;
	background: revert;
	border: 1px solid #ABC1CC;
	border-radius: revert;
	color: revert;
	font-size: revert;
	margin: 0 0 10px 2%;	
	padding: 0;
	position: relative;
	width: 47%;
	min-width: 29em;
	float: left;
	overflow: hidden;
}

.error {
	background-color: #FF8888 !important;
}

.itemTitle {
	margin: 0px;
	background-color: revert;
	border-bottom: revert;
	color: revert;
	display: revert;
	font-family: revert;
	font-size: small;
	font-weight: normal;
	line-height: 1.2em;
	min-height: revert;
	padding: 6px;	
}

.item a:link {
	color: revert;
	text-decoration-line: revert;
}

.item a:visited {
	color: revert;
	text-decoration-line: revert;
}

.item a:hover {
	color: revert;
	text-decoration: revert;
}

.item a:active {
	color: revert;
	text-decoration: revert;
}

.itemTitle a {
	color: #404040;
	text-decoration: revert;
	font-weight: revert;
}

.itemTitle a:link {
	color: revert;
	text-decoration: revert;
	font-weight: revert;
}

.itemTitle a:visited {
	color: #707070;
	text-decoration: revert;
	font-weight: revert;
}

.itemTitle a:hover {
	color: revert;
	text-decoration: underline;
	font-weight: revert;
}

.itemTitle a:visited {
	color: #442e2e;
	text-decoration: revert;
	font-weight: revert;
}

.itemNumber {
	font-size: xx-small;
	color: revert;
	padding-right: 5px;
	font-weight: normal;
}

.itemDescription {
	margin: revert;
	min-height: 6em;
	font-size: small;
	margin: 0px;
	padding: 9px;
}

.itemInfo {
	margin: 10px;
	font-size: x-small;
	color: #242482;
}

.itemCat {
	display: revert;
	color: #7D7D7D;
}

.itemAuthor {
	display: revert;
}

.itemPubDate {
	background: revert;
	border: revert;
	color: revert;
	float: revert;
	font-size: 10px;
	font-weight: revert;
	line-height: revert;
	padding: revert;
	position: revert;
	right: revert;
	text-align: revert;
	top: revert;
	width: revert;
}

.itemAudioPlayer audio {
	width: 75%;
}
