html {
	margin: 0;
	font-family: verdana, sans-serif;
	background: #F2F2F2;
	color: #404040;
}

body {
	width: 100%;
	margin: 0;
}

a {
	color: #4C6A72;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: initial;
}

a:hover {
	text-decoration: underline;
}

img, video {
	height: auto;
	max-width: 100%;
}

.channelHead {
	background-color: inherit;
	border-radius: initial;
	border: initial;
	padding: 7px;
	margin: 10px 2% 10px 2%;
}

h1.channelTitle {
	color: #000000;
	margin: 0;
	padding: 0;
	font-size: large;
	line-height: 1em;
}

a.channelLink {
	margin: inherit;
	color: #4C6A72;
	font-weight: bold;
	text-decoration: none;	
}

a.channelLink:visited {
	color: #436A75;
	font-weight: bold;
}

.channelDescription {
	color: inherit;
	font-size: small;
	padding: 10px;
	width: initial;
	font-weight: initial;
	margin: 0;
}

div.item {
	display: block;
	background: initial;
	border: 1px solid #ABC1CC;
	border-radius: initial;
	color: initial;
	font-size: inherit;
	margin: 0 0 10px 2%;	
	padding: 0;
	position: relative;
	width: 47%;
	min-width: 29em;
	float: left;
	overflow: hidden;
}

.error {
	background-color: #FF8888 !important;
}

.itemTitle {
	margin: 0px;
	background-color: initial;
	border-bottom: initial;
	color: initial;
	display: initial;
	font-family: inherit;
	font-size: small;
	font-weight: normal;
	line-height: 1.2em;
	min-height: initial;
	padding: 6px;	
}


.item a:link {
	color: initial;
	text-decoration-line: initial;
}

.item a:visited {
	color: initial;
	text-decoration-line: initial;
}

.item a:hover {
	color: initial;
	text-decoration: initial;
}

.item a:active {
	color: initial;
	text-decoration: initial;
}

.itemTitle a {
	color: #404040;
	text-decoration: initial;
	font-weight: initial;
}

.itemTitle a:link {
	color: initial;
	text-decoration: initial;
	font-weight: initial;
}

.itemTitle a:visited {
	color: #707070;
	text-decoration: initial;
	font-weight: initial;
}

.itemTitle a:hover {
	color: initial;
	text-decoration: underline;
	font-weight: initial;
}

.itemTitle a:visited {
	color: #442e2e;
	text-decoration: initial;
	font-weight: initial;
}

.itemNumber {
	font-size: xx-small;
	color: inherit;
	padding-right: 5px;
	font-weight: normal;
}

.itemDescription {
	margin: initial;
	min-height: 6em;
	font-size: small;
	margin: 0px;
	padding: 9px;
}

.itemInfo {
	margin: 10px;
	font-size: x-small;
	color: #242482;
}

.itemCat {
	display: initial;
	color: #7D7D7D;
}

.itemAuthor {
	display: initial;
}

.itemPubDate {
	background: #FAF4C8;
	border: 1px solid #A7A6AA;
	color: #777;
	float: right;
	font-size: 10px;
	font-weight: bold;
	line-height: 1.1em;
	padding: 3px 5px 4px 5px;
	position: absolute;
	right: 1.5em;
	text-align: center;
	top: -1em;
	width: 15em;
}

.itemAudioPlayer audio {
	width: 75%;
}
