/* misc. */

html {
	margin: 0;
	font-family: verdana, sans-serif;
	background: #F2F2F2;
	color: #404040;
}

body {
	width: 100%;
	margin: 0;
}

.error {
	background-color: #FF8888 !important;
}

a:link {
	color: #4C6A72;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: revert;
}

a:hover {
	text-decoration: underline;
}

img, video {
	height: auto;
	max-width: 100%;
}

/* channel */

.channelHead {
	margin: 10px 2% 10px 2%;
	padding: 7px;
	background-color: revert;
	border-radius: revert;
	border: revert;
}

h1.channelTitle {
	margin: 0;
	padding: 0;
	line-height: 1em;
}

a.channelLink {
	color: #4C6A72;
	font-size: large;
	font-weight: bold;
	text-decoration: none;	
}

a.channelLink:visited {
	color: #436A75;
	font-weight: bold;
}

a.channelLink:hover {
	text-decoration: revert;
}

.channelDescription {
	width: revert;
	margin: 0;
	padding: 10px;
	color: revert;
	font-size: small;
	font-weight: revert;
}

/* item */

div.item {
	display: block;
	position: relative;
	float: left;
	width: 47%;
	min-width: 29em;
	margin: 0 0 10px 2%;	
	padding: 0;
	overflow: hidden;
	background: revert;
	border: 1px solid #ABC1CC;
	border-radius: revert;
	color: revert;
	font-size: revert;
}

.itemNumber {
	padding-right: 5px;
	color: revert;
	font-size: xx-small;
	font-weight: normal;
}

.itemTitle {
	display: revert;
	min-height: revert;
	line-height: 1.2em;
	margin: 0px;
	padding: 6px;	
	background-color: revert;
	border-bottom: revert;
	font-family: revert;
	font-size: small;
	font-weight: normal;
}

.itemTitle a:link {
	color: #404040;
	text-decoration: revert;
	font-weight: revert;
}

.itemTitle a:visited {
	color: #707070;
	text-decoration: revert;
	font-weight: revert;
}

.itemTitle a:hover {
	color: revert;
	text-decoration: underline;
	font-weight: revert;
}

.itemDescription {
	margin: 0px;
	padding: 9px;
	min-height: 6em;
	/*font-size: small;*/
}

.itemInfo {
	margin: 10px;
	font-size: x-small;
	color: #242482;
}

.itemCat {
	display: revert;
	color: #7D7D7D;
}

.itemAuthor {
	display: revert;
}

.itemPubDate {
	float: revert;
	line-height: revert;
	padding: revert;
	position: revert;
	right: revert;
	top: revert;
	width: revert;
	background: revert;
	border: revert;
	color: revert;
	font-size: 10px;
	font-weight: revert;
	text-align: revert;
}

.itemAudioPlayer audio {
	width: 75%;
}
