body {
	margin: 0;
	color: var(--main-text-color);
	font-family: monospace;
	background-color: var(--main-background-color);
	/*font-size: small;*/
  
}
/* table */
table {
  width: 100%;
  border-collapse: collapse;
}
td:first-child {
  white-space: nowrap;
}
td:last-child {
  width: 100%;
}
td {
	border: 1px solid var(--main-border-color);
}


