/* Misc. */
body {
  font-size: 1.25rem;
  color: #333333;
}

.checkboxText {
  margin-right: 10px;
}

input[type="number"] {
  margin-left: 10px;
  margin-right: 10px;
  width:55px;
}

.inputImportFile {
  display: none;
}

input.textField {
  resize: horizontal;
  width: 400px;
}

input.textField:active {
  width: auto;   
}

input.textField:focus {
  min-width: 200px;
}

.borderError {
  border: 1px solid red;
}

.textColorError {
  color: red;
}
/* tabs */
.tab {
    overflow: hidden;
    border: 1px solid #c0c0c0;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    /*border: none;*/
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #c0c0c0;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #d0d0d0;
}
.tab button.active {
  background-color: #b0b0b0;
}

.tabContent {
    display: none;
    padding: 20px 10px 20px 10px;
    border: 1px solid #c0c0c0;
    border-top: none;
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  height: 2.5em;
}

td {
  white-space: nowrap;
}

td:last-child {
  width: 100%;
}


/*td {
  border: 1px solid red;
}*/

/* Progress bar */
.progressBarTotal {
  display: none;
  border-radius:16px;
  color:#000;
  background-color:#d1d1d1;
}

.progressBarValue {
  display: none;
  border-radius:16px;
  padding:0.01em 16px;
  color:#fff;
  background-color:#2196F3;
}
