html {
	margin: 0;
	font-family: verdana, sans-serif;
	background: -moz-Dialog;
}

body
{
  width: 95%;
  margin: 30px auto;
}

a {
	color: #436A75;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: #739Aa5;
}
a:hover {
	text-decoration: underline;
}

img, video {
	height: auto;
	max-width: 100%;
}

.channelHead {
	background: #E4ECEC !important;
	margin: 0 0 32px 0;
	moz-border-radius: 10px;
	border: 1px solid #A7A6AA;
	padding: 10px;
}

.channelLink  {
	color: #D64203;
	text-decoration: none;
	font-weight: bold;
	margin: 0;
}

.channelLink a {
	margin: 0 0 32px 0;
	padding: 10px;
	color: #D64203;
	text-decoration: none;
	font-weight: bold;
}

.channelDescription {
	color: #405A5A;
	font-size: 90%;
	padding-left: 80px;
	padding-right: 20px;
	width: auto;
	font-weight: bold;
	margin: 0;
}

div.item {
	display: block;
	margin: 0 0 10px 2%;
	border: 1px solid #8DAAB8;
	padding: 0;
	width: 47%;
	min-width: 29em;
	float: left;
	overflow: hidden;
}

.itemTitle {
	margin: 0px;
	padding: 6px;
	background-color: #D7E2E8;
	font-size: small;
	line-height: 1.2em;
}

.itemNumber {
	padding-right: 5px;
	font-weight: normal;
}

.itemDescription {
	min-height: 6em;
	font-size: small;
	margin: 0px;
	padding: 9px;
}

.itemInfo {
	margin: 10px;
	font-size: x-small;
	color: #242482;
}

.itemCat {
	color: #7D7D7D;
}

