body {
	margin: 0;
	color: #000000;
	font-family: monospace;
	background-color: #FFFFFF;
	/*font-size: small;*/
  
}
/* table */
table {
  width: 100%;
  border-collapse: collapse;
}
td:first-child {
  white-space: nowrap;
}
td:last-child {
  width: 100%;
}
td {
	border: 1px solid #98B3C0;
}


