/*-- table box --*/

.editTableBox {
	vertical-align:top;
	display: table;
	margin: 0;
	padding: 0;
	top: 0;
	width: 0;
	width: 100%;
	height: 100%;
}

.editRowGroupBox {
	vertical-align:top;
	display: table-row-group;
}

.editRowBox {
	display: table-row;
}

.editCellBox {
	vertical-align:top;
	display: table-cell;
}

.editHeaderGroupBox {
	vertical-align:top;
	display: table-header-group;
}

.editFooterGroupBox {
	vertical-align:top;
	display: table-footer-group;
}

.editAutoHeight {
	height: 0;
}

/*-- -- --*/

.editBorder {
	border: 1px solid #6f6f6f;
}

.editBorderNone {
	border: none;
}

.editBorderTopBottom {
	border-left: none;
	border-right: none;
	border-top: 1px solid #6f6f6f;
	border-bottom: 1px solid #6f6f6f;
}

.editBorderTopBottomHidden {
	border-left: none;
	border-right: none;
	border-top: 1px solid #6f6f6f00;
	border-bottom: 1px solid #6f6f6f00;
}


.editBorderHidden {
	border: 1px solid #ffffff00;
}


#editFieldsetFont {
	font-size: small;
}

.editRelative100pc {
	position: relative;
	width: 100%;
	height: 100%;
}

#editEditorBox {
	position: relative;
	width: 100%;
	height: 100%;
}

.editTextZone {
	position: absolute;
	padding-left: 4px ;
	width: calc(100% - 1px);
	height: calc(100% - 1px);
	line-break: strict;
	white-space: pre;
}

#editTextArea {
	resize: none;
	background-color: #ffffff00;
	color: #00000000;
}

#editConsole {
	height: 100px;
	overflow: auto;
}

.editConsoleLeft {
	border-right: 1px solid #e0e0e000;
}

.editSelect {
	font-size: x-small;
	margin: 5px;
}

#editLineNumber {
	display: inline-block;
	text-align: right;
	border-right: 1px solid #ffffff;
	height: 0px;
	overflow-y : hidden;
	padding-left: 2px;
	padding-right: 2px;
}

.editResizeBar {
	background-color: #6f6f6f;
	border: none;
	height: 4px;
}

.editResizeBar:hover {
	cursor: row-resize
}

