.editorText {
	background-color: #c1c5da;
	color: black;
}

.editorCaret{
	caret-color: black;
}

.jsString {
  color: blue;
}

.jsKeyword1 {
  color: red;
}
.jsKeyword2 {
  color: purple;
}

.jsKeyword3 {
  color: orangered;
}

.jsComment {
  color: green;
}
