body {
	margin: 0;
	color: #000000;
	font-family: monospace;
	background-color: #FFFFFF;
	/*font-size: small;*/
	font-family: "Lucida Console", "Courier New", "Georgia" ,"Times New Roman", "Georgia";
}

#mainBox {
	display: flex;
	position: absolute;
	flex-direction: raw;
	width: 100%;
	height: 100%;
}

#leftBox {
	border: 1px solid #6f6f6f;
	background-color: #fafafa;
	width: 200px;
}

#logoBox {
	position: relative;
	top: 50px;
	left: 0;
  margin: 5px;
  display: block;
}

#logoImg::before {
  background-image: url(/themes/_any/img/drop-feeds-96.png);
  background-size: 96px 96px;
  width: 96px;
  height: 96px;
  content: "";
  display: block;
	margin-left:auto; margin-right:0;
}

#logoName {
	font-size: x-large;
	font-weight: bold;
	margin-left:auto; margin-right:0;
	display: block;
	text-align: right;
}

.titleBox {
	border-top: 1px solid gray;
	float: right;
}



#rightBox {
	border: 2px solid #6f6f6f;
	-moz-box-flex: 1;
	flex: 1;
	box-flex:1;
}

#rightBoxInner {
	display: flex;
	position: relative;
	flex-direction: col;
	width: 100%;
	height: 100%;
}

/* --------------- Script manager ----------------- */
.topMenu {
	position: relative;
	border-bottom: 1px solid #6f6f6f;
	top: 0;
	padding-top: 10px;
	padding-left: 12px;
	height: 40px;
}

.topButton::before {
	background-size: 16px 16px;
	background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: "";
  display: inline-block;
	vertical-align: middle;
	margin: 5px;
}

.topButton {
  display: inline-block;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
}

.topButton:hover {
  border: 1px outset #707070;
  border-radius: 4px;
}

#createNewScript::before {
  background-image: url(/themes/_any/img/scripts-new.png);
}

#scriptManager {
	flex: 1;
}

#scriptList {
	position: relative;
	margin-top: 10px;
}

.scriptEntry {
	background-color: #fefefe;
	position: relative;
  border: 1px outset #707070;
	border-radius: 4px;
	margin: 10px;
	height: 64px;
	vertical-align: center;
	min-width: 475px;
}

.logo::before {
	position: relative;
  background-image: url(/themes/_any/img/drop-feeds-32.png);
	background-size: 32px 32px;
  width: 32px;
  height: 32px;
  content: "";
	display: block;
	float: left;
	top: 16px;
	margin:0;
}

.scriptLeftBlock {
	position: relative;
	float: left;
	top:0;
	margin-left:5px;
	width:auto;
	height: 100%;
}

.scriptRightBlock {
	position: relative;
	float: right;
	top:0;
	width:200px;
	height: 100%;
	text-align: right;
}

.scriptName {
	margin-top: 10px;
}

.lastEdit {
	margin-top: 10px;
}

.scriptButton::before {
  background-size: 16px 16px;
  width: 16px;
	height: 16px;
	margin: 5px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.scriptButton {
  display: inline-block;
	margin: 3px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
}

.scriptTypeSelect {
  display: inline-block;
	margin: 3px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;

}

.scriptButton:hover {
  border: 1px outset #707070;
  border-radius: 4px;
}

.editScriptButton::before {
  background-image: url(/themes/_any/img/scripts-edit.png);
}

.enabledScriptButton::before {
  background-image: url(/themes/_any/img/scripts-enabled.png);
}

.disabledScriptButton::before {
  background-image: url(/themes/_any/img/scripts-disabled.png);
}

.deleteScriptButton::before {
  background-image: url(/themes/_any/img/scripts-delete.png);
}

/* --------------- Script editor ----------------- */
#scriptEditor {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/*
.topMenu {
	position: relative;
	border-bottom: 1px solid #6f6f6f;
	top: 0;
	padding-top: 10px;
	padding-left: 12px;
	height: 40px;
}
*/

.settings {
	position: relative;
	margin-top: 0px;
	border-bottom: 1px solid #6f6f6f;
	height: 68px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
td:first-child {
  white-space: nowrap;
}
td:last-child {
  width: 100%;
}
td {
	border: none;
}

.settingFieldName {
	font-family: Arial;
	font-size: small;
}
.settingFieldData {
	width: 99%;
	border: 1px solid #a7a7a7;
}

.editorBox {
	position: absolute;
	bottom: 0;
	top: 121px;
	width: 100%;
	height: calc(100% - 121px);
}


#textArea {
	position: absolute;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 2px inset #70707000;
	line-break: strict;
	resize: none;
	background-color: #ffffff00;
	color: #00000040;
	caret-color: red;

	font-family: monospace;
	font-size: 10;
	font-family: "Lucida Console", "Courier New", "Georgia" ,"Times New Roman", "Georgia";
}

#highlightedCode {
	position: absolute;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 2px inset #707070;
	line-break: strict;
	background-color: #c1c5da;

	font-family: monospace;
	font-size: 10;
	font-family: "Lucida Console", "Courier New", "Georgia" ,"Times New Roman", "Georgia";
}

#saveButton::before {
	background-image: url(/themes/_any/img/test.png);
	filter: hue-rotate(0deg);
}

#closeButton::before {
	background-image: url(/themes/_any/img/test.png);
	filter: hue-rotate(80deg);
}
