html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	max-height: 100%;
	font-family: "Courier New", "Courier", "Lucida Console", "Monaco", "monospace";
	font-size: small;
	/*overflow: hidden;*/
}

button {
	font-size: x-small;
	margin: 5px;
}

select {
	font-size: x-small;
	margin: 5px;
}

.field {
	font-size: x-small;
	border: 2px double #9D9D99;
	border-radius: 3px;
	width: 100%;
}

.field:focus {
	border: 2px solid #4A90D9;
}

/*-- table box --*/

.tableBox {
	vertical-align: top;
	display: table;
	margin: 0;
	padding: 0;
	top: 0;
	width: 0;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
}

.rowGroupBox {
	vertical-align: top;
	display: table-row-group;
}

.rowBox {
	display: table-row;
}

.cellBox {
	vertical-align: top;
	display: table-cell;
}

.headerGroupBox {
	vertical-align: top;
	display: table-header-group;
}

.footerGroupBox {
	vertical-align: top;
	display: table-footer-group;
}

.autoHeight {
	height: 0;
}

/*-- -- --*/

.xSmall {
	font-size: x-small;
}

.right {
	text-align: right;
}

.border {
	border: 1px solid #6f6f6f;
}

.borderTopBottom {
	border-left: none;
	border-right: none;
	border-top: 1px solid #6f6f6f;
	border-bottom: 1px solid #6f6f6f;
}

.borderHidden {
	border: 1px solid #ffffff00;
}

.label {
	min-width: 153px;
	display: inline-block;
	white-space: nowrap;
}

#leftBox {
	width: 200px;
}

.logoBox {
	padding: 5px;
}

#logoImg::before {
	background-image: url(/themes/_any/img/drop-feeds-96.png);
	background-size: 96px 96px;
	width: 96px;
	height: 96px;
	content: "";
	display: block;
	margin-left: auto;
	margin-right: 0;
}

#logoName {
	font-size: x-large;
	font-weight: bold;
	text-decoration: underline;
}

#logoTitle {
	font-size: medium;
	margin-bottom: 10px;
}

.pictureButton::before {
	background-size: 16px 16px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
}

.pictureButton {
	display: inline-block;
	border: 1px solid #dfdfdf;
	border-radius: 4px;
}

.pictureButton:hover {
	border: 1px outset #707070;
	border-radius: 4px;
}

#createNewScript::before {
	background-image: url(/themes/_any/img/scripts-new.png);
}

/* --- script entries --- */

.scriptEntry {
	background-color: #fefefe;
	position: relative;
	border: 1px outset #707070;
	border-radius: 4px;
	margin: 10px;
	height: 64px;
	vertical-align: center;
	min-width: 475px;
}

.scriptEntry:hover {
	border: 1px solid #000000;
	border-radius: 4px;
}

.logo::before {
	position: relative;
	background-image: url(/themes/_any/img/drop-feeds-32.png);
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	content: "";
	display: block;
	float: left;
	top: 16px;
	margin: 0;
}

.scriptLeftBlock {
	position: relative;
	float: left;
	top: 0;
	margin-left: 5px;
	width: auto;
	height: 100%;
}

.scriptRightBlock {
	position: relative;
	float: right;
	top: 0;
	width: 200px;
	height: 100%;
	text-align: right;
}

.scriptName {
	margin-top: 10px;
	font-weight: bold;
}

.scriptInfo {
	border: 1px solid gray;
	padding: 2px;
	font-size: small;
}

.scriptInfo:hover {
	cursor: default;
}

.lastEdit {
	margin-top: 10px;
}

.scriptButton::before {
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	margin: 5px;
	content: "";
	display: inline-block;
	vertical-align: middle;
}

.scriptButton {
	display: inline-block;
	margin: 3px;
	border: 1px solid #dfdfdf;
	border-radius: 4px;
}

.scriptTypeSelect {
	display: inline-block;
	margin: 3px;
	border: 1px solid #dfdfdf;
	border-radius: 4px;
}

.scriptTypeSelect:hover {
	border: 1px solid #000000;
	border-radius: 4px;
}

.scriptName:hover {
	border: 1px solid #707070;
}

.scriptButton:hover {
	border: 1px outset #707070;
	border-radius: 4px;
}

.editScriptButton::before {
	background-image: url(/themes/_any/img/scripts-edit.png);
}

.enabledScriptButton::before {
	background-image: url(/themes/_any/img/scripts-enabled.png);
}

.disabledScriptButton::before {
	background-image: url(/themes/_any/img/scripts-disabled.png);
}

.deleteScriptButton::before {
	background-image: url(/themes/_any/img/scripts-delete.png);
}

.subscribeScriptButton::before {
	background-image: url(/themes/_any/img/scripts-subscribe.png);
}

.info {
	font-size: x-small;
	text-align: justify;
	text-justify: inter-word;
}
